# {{ ansible_managed }}

LocalSocket              /run/clamav/clamd.sock
PidFile                  /run/clamav/clamd.pid
TemporaryDirectory       /tmp
LogFile                  /var/log/clamav/clamd.log
LogSyslog                true
User                     clamav
AllowSupplementaryGroups true
