# {{ ansible_managed }}

[Unit]
Description=clamav daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/clamav/clamd.pid
ExecStart=/usr/bin/clamd
ProtectSystem=strict
ReadWritePaths=/var/log/clamav /run/clamav
PrivateTmp=true
PrivateDevices=true
PrivateNetwork=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
