# {{ ansible_managed }}

[Unit]
Description=clamav updater

[Service]
Type=forking
PIDFile=/run/clamav/freshclamd.pid
ExecStart=/usr/bin/freshclam -d
ProtectSystem=strict
ReadWritePaths=/var/log/clamav /run/clamav /var/lib/clamav
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
